# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
**/ .next/

# Environment Variables
.env
.env.local
.env.production
**/.env
**/.env.local

# OS Files
.DS_Store
Thumbs.db

# Production Build
dist/
build/
**/dist/
**/build/
